<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prashant.shoppinglist">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Shopping List"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".signupActivity"
            android:screenOrientation="portrait"
            android:label="Shopping List">

        </activity>
        <activity
            android:name=".TabListActivity"

            android:screenOrientation="portrait"
            android:label="Shopping List"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SurveyActivity"
            android:screenOrientation="portrait" ></activity>

        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GoogleVisionAPI"
            android:label="@string/title_activity_google_vision_api"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <meta-data
            android:name="com.prashant.shoppinglist.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.prashant.shoppinglist.DEPENDENCIES"
            android:value="ocr" />

    </application>

</manifest>